
.login-page{
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    margin: 100px;
    padding: 20px;
}

.login{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    border-style:ridge;
    border-color: #00ff66;
    padding: 20px;
}

.login-form{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    width: 300px;
}

.form-control{
    border-radius: 0% !important;
}

.login-btn{
    font-weight: bold !important;
    background-color: #00ff66;
    color: #2d2d2d;
    align-self: center !important;
    text-align: center;
    border-radius: 0% !important;
    margin-bottom: 10px;
}

.login-btn:hover{
    background-color: #38fa86;
    color: #2d2d2d;
}

.displayError{
    color: red;
}